.btn, a.btn {
    display: inline-block;

    padding: 8px;
    min-width: 184px;

    background: var(--white);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-transform: capitalize;
    text-align: center;
    color: var(--black);
    
    transition: all 0.2s ease-in;

    &--small {
        min-width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    @include mobile {
        padding: 8px 9px;
        min-width: unset;
    }

    &--mobile-wide {
        padding: 8px 16px;
        min-width: unset;
        width: 100%;
        text-align: left;
    }


    &:hover {
        background: var(--neutral-grayededed);
    }
}

a.btn-outline, .btn-outline  {
    display: inline-block;

    padding: 8px;
    height: 40px;
    border: 1px solid var(--primary-primary-600);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-primary-600);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;

    &:hover {
        color: var(--primary-primary-700);
        border: 1px solid var(--primary-primary-700);
    }
}
