.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}

.icon--menu {
	fill: var(--black);
} 

.icon--search {
	fill: var(--black);
}

.icon--bag  {
	fill: var(--neutral-gray202020);
}

.icon--person {
	fill: var(--neutral-gray202020);
}

.icon--favorite {
	stroke: var(--neutral-gray202020);
	fill: var(--white);
}

.icon--arrow-up {
	fill: #000;
}

.icon--arrow-down {
	fill: #000;
}

